.ECA-highlight {
    color: var(--blue);
    font-size: 48px;
    font-weight:300;
}

.ECA-webpagefig {
    justify-content: center;
    display: flex;
}

.ECA-figleft {
    width: 45%;
}

.ECA-figright {
    margin-left: 5%;
    width: 45%;
}

.ECA-bottom {
    display: flex;
}

.ECA-secondfigleft {
    width: 40%;
}

.ECA-secondfigright {
    margin-left: 5%;
    width: 60%;
}

@media (max-width: 1024px) {
    .ECA-webpagefig {
        flex-direction: column;
    }

    .ECA-figleft {
        width: 100%;
        max-width: 600px;
        margin-inline: auto;
    }
    
    .ECA-figright {
        width: 100%;
        max-width: 600px;
        margin-inline: auto;
        margin-top: 1.5rem;
    }
}

@media (max-width: 956px) {
    .ECA-bottom {
        flex-direction: column;
    }

    .ECA-secondfigleft {
        width: 100%;
        max-width: 600px;
        margin-inline: auto;
    }
    
    .ECA-secondfigright {
        width: 100%;
    }
}
