.courselist-title {
    display: flex;
    padding: 12px;
    background-color: var(--medgrey);
}

.courselist-title-left {
    width: 98%;
}

.courselist-title-right {
    align-items: center;
    justify-content: center;
}

.courselist-year-container {
    padding: 12px;
    background-color: var(--lightgrey);
}

.courselist-term + .courselist-term {
    margin-top: 1rem;
}

.courselist-grid {
    display: block;
}

@media (min-width: 1024px) {
    .courselist-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 12px;
    }

    .courselist-title-left {
        margin-bottom: 0px;
    }

    .courselist-term + .courselist-term {
        margin-top: 0;
    }
    
}