.imageflex-container {
    position: relative;
    margin-bottom: 18px;
}

.imageflex-left {
    width: 10%;
    padding: 6px;
}

.imageflex-right {
    margin-left: 5%;
    width: 85%;
}

.imageflex-margin {
    margin-bottom: 8px;
}

.imageflex-title-left {
    width: 70%
}

.imageflex-title-des {
    color: gray;
    font-style: italic;
}

.imageflex-title-right {
    text-align: right;
    width: 30%
}

.imageflex-remark {
    color: gray;
    font-size: 14px;
}

@media (max-width: 1225px) {
    .imageflex-margin {
        flex-direction: column;
    }

    .imageflex-title-left {
        width: 100%
    }

    .imageflex-title-right {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 752px) {
    .imageflex-container {
        flex-direction: column;
    }

    .imageflex-left {
        width: 100%;
        max-width: 300px;
        padding: 0;
        margin-bottom: 1rem;
    }

    .imageflex-left img {
        display: block;
        margin-inline: auto;
    }

    .imageflex-right {
        margin-left: 0;
        width: 100%;
    }
}