.institutes-container {
    display: flex;
    flex-direction: row;
}

.institute {
    display: block;
}

.institute + .institute {
    margin-left: 1rem
}

@media (max-width: 1280px) {
    .institutes-container {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .institutes-container {
        flex-direction: column;
    }

    .institutes-imperial {
        margin-inline: auto;
        margin-top: 1rem;
    }

    .institute + .institute {
        margin-left: 0;
        margin-top: 1rem;
    }
}