.navbardropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.navbardropdown-menu li {
    background: var(--darkgrey);
    cursor: pointer;
}

.navbardropdown-menu.clicked {
    display: none;
}

.navbardropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 1.25rem;
}