.math-banner-highlight {
    color: var(--blue);
    font-size: 38px;
    font-weight:300;
}

.research-container {
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
}

.research-ml-left {
    width: 45%;
}

.research-ml-right {
    width: 45%;
}

.research-dy-top {
    margin-top: 2rem;
}

@media (max-width: 1024px) {
    .research-container {
        flex-direction: column-reverse;
    }

    .research-ml-right {
        width: 100%;
    }

    .research-ml-left {
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
    }
}